:root {
  --light-blue: #407eaf;
  --dark-blue: #28618f;
}

html,
body {
  font-family: "Tahoma", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: var(--light-blue);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  max-width: calc(70vw + 10px);
  margin: 0 auto;
}

.header .title {
  font-weight: 900;
  margin-block-end: 10px;
  margin-block-start: 0;
}

.header .navbar {
  margin-right: 20px;
  display: flex;
}

.header .navbar a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 20px 5px;
  color: white;
  min-width: 60px;
  text-align: center;
  font-weight: 500;
}

.header .navbar a:hover {
  background-color: var(--dark-blue);
}

.container {
  max-width: calc(70vw + 10px);
  margin: 0 auto;
}

.main {
  margin-top: 10px;
}

.main img {
  max-width: 240px;
  margin-top: 40px;
}

.main h2 {
  font-size: 1.4em;
  color: #333;
  position: relative;
  transition-delay: 1s;
  transition: 0.5s;
}

.main h2::before {
  position: absolute;
  content: "";
  width: 10px;
  left: -16px;
  height: 30px;
  background-color: var(--light-blue);
  transition: 0.5s all;
  transition-delay: 1s;
  mix-blend-mode: lighten;
  z-index: -1;
}

.main h2:hover {
  transition-delay: 0s;
  color: white;
}

.main h2:hover:before {
  transition-delay: 0s;
  width: calc(70vw + 40px);
}

.main p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.2em;
  line-height: 1.3;
  margin: 25px 0;
  text-align: justify;
}

.main a {
  text-decoration: none;
  background-color: var(--light-blue);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

.main a:hover {
  background-color: var(--dark-blue);
}

.main .video {
  display: flex;
}

.main .video iframe {
  width: 100%;
}

/* Form style */
form .flex td {
  display: flex;
}

form .flex {
  display: flex;
}

form table {
  border-collapse: collapse;
  width: 100%;
  max-width: 900px;
  border: 1px solid var(--dark-blue);
  padding: 0 20px;
  font-family: sans-serif;
  font-weight: 500;
}

form td {
  padding: 10px;
}

form td label {
  display: block;
  font-weight: bold;
  margin: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 5px;
}

form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #3e8e41;
}


@media (min-width: 480px) {
  .container, .header {
    max-width: 100vw;
    font-size: 1rem;
    padding: 30px;
  }

  .main h2 {
    font-size: 3rem;
  }

  .main img {
    width: 100%;
    max-width: unset;
  }
}

/* Python snake easter egg */

.snake {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Snake_Python.jpg/800px-Snake_Python.jpg?20181020091006);
  background-position: center;
  background-size: cover;
}

.bounce {
  -webkit-animation: bounce 1.1s both;
  animation: bounce 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-24 19:25:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}